html{
  overflow-x: hidden;

}

body{
  background-color:rgb(95, 191, 232);
}
.content{
  display: flex;
  /*background-color:rgb(177, 115, 136);*/
  justify-content: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.card{
  box-shadow: 0px 0px 10px rgb(105, 105, 105);
  margin: 10px;
  height: min-content;

}
.card:hover{
  transition:0.5s;
  transform: scale(1.3);
  box-shadow: 0px 0px 10px rgb(105, 105, 105);
  z-index: 2;
}
.title{
  color:rgb(255, 255, 255);
  text-shadow:0px 0px 5px rgb(105, 105, 105);
}
.add{
  width: 60px;
  height: 60px;
  border-radius: 60px;
  box-shadow: 0px 0px 10px rgb(71, 71, 71);
  border: none;
  position: fixed;
  background-color:rgb(250, 109, 244);
  z-index: 20;
  transform: translate(10px,10px);
  font-size:30px;
}
.modal-body{
  height: 200px;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: space-around;

}
.moda{
  box-shadow: 0px 0px 5px rgb(71, 71, 71);
}
.inp_texte{
  height: 100px;
  width: 100%;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgb(71, 71, 71);
}
.modal-body input{
  height: 50px;
  width: 90%;
  border-radius: 5px;
  outline: none;
  padding: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgb(71, 71, 71);
}
